#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=Pidgeon
Exec=pidgeon
Terminal=false
Icon="/usr/share/pidgeon/pidgeonicon.png"
Type=Application
Categories=IRC
