Source: pidgeon
Maintainer: Petr Bena <benapetr@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), mono-xbuild

Package: pidgeon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Pidgeon irc client
 provides an advanced IRC client, that can be extended with various plugins
