Package: Pidgeon
Version: 1.2.0.0
Section: network
Priority: optional
Architecture: all
Essential: no
Depends: mono-runtime gtk-sharp2
Recommends: mono-complete
Installed-Size: 1024
Maintainer: Petr Bena <benapetr@gmail.com>
Description: Pidgeon client is advanced IRC client
 This package will install pidgeon IRC client, with default plugins
